.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
}

.child1 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: skyblue;
    width: 200px;
}

.child2 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: hotpink;
    width: 200px;
}

.child3 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: rgb(167, 110, 36);
    width: 200px;
}

.child4 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: skyblue;
    width: 200px;
}

.child5 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: rgb(231, 231, 12);
    width: 200px;
}

.child6 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: red;
    width: 200px;
}

.child7 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: rgb(31, 194, 93);
    width: 200px;
}

.child8 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: red;
    width: 200px;
}

.child9 {
    margin: 20px;
    border: 12px solid rgb(255, 255, 255);
    background-color: rgb(241, 120, 13);
    width: 200px;
}

.child {
    transition: .5s;
}

.child:hover {
    transform: scale(1.1);
}

body {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("24936.jpg");
}

img {
    height: 200px;
    width: 200px;
    background-color: white;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

em {
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.iconify {
    width: 50px;
    height: 50px;
}